In [2]:
import pandas as pd
import csv

In [11]:
folders = ["apratim", "Trisha"]

posts_csv_path = "./data/appended_data.csv"
posts = pd.read_csv(posts_csv_path)

In [13]:
#to join new follower count csv's
combined_df = pd.DataFrame()

for folder in folders:
    try:
        account_csv_path = "./" + folder + "/accountinfo/accounts_info.csv"
        temp_df = pd.read_csv(account_csv_path)
        combined_df = pd.concat([combined_df, temp_df], ignore_index=True)
    except FileNotFoundError:
        print(account_csv_path, ": file not found")

combined_df.head()

        username  followers  following
0         queenb     325205        700
1  raquelbenetti         27          0
2            ray       1366       1023
3  raychponygold      88452       2070
4       rayniyel      20452       4069

In [19]:
#join follower count csv with posts info csv

joined_df = pd.merge(posts, combined_df, left_on='owner_username', right_on='username', how='left')
joined_df.head()

,owner_id,owner_username,shortcode,is_video,caption,comments,likes,created_at,location,imageUrl,multiple_images,username,followers,following
0,36063641,christendominique,C3_GS1ASeWI,False,I‚Äôm a brunch & Iced Coffee girlie‚òïÔ∏èüç≥ \n\nTop @...,268,16382,1709326758,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t39....,True,christendominique,2144626.0,1021.0
1,36063641,christendominique,C38ivgNS3IX,True,üòÆ‚Äçüí®Brow tips I really wish I would have know w...,138,9267,1709241048,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t51....,False,christendominique,2144626.0,1021.0
2,36063641,christendominique,C35-Dd9SO1b,True,OMG I can‚Äôt believe it‚Äôs already been 1 yr sin...,1089,10100,1709154707,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t51....,False,christendominique,2144626.0,1021.0
3,36063641,christendominique,C33TadDMisq,True,90‚Äôs Glam was Pam! \n\nMakeup \n@smashboxcosme...,271,6943,1709065322,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t51....,False,christendominique,2144626.0,1021.0
4,36063641,christendominique,C3s-Cm1yCba,True,Chiseled & Sculptured üèõÔ∏è\n\n Contour @westmana...,145,17158,1708718486,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t51....,False,christendominique,2144626.0,1021.0

In [21]:
joined_df.to_csv("./data/combined_data.csv", index=False)